.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.titulo{
    justify-content: center;
    text-align: center;
    align-items: center;
}


.cantidad-botones {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.cantidad-botones button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
    cursor: pointer;
    font-size: 1em;
}

.cantidad-botones button:hover {
    background-color: #2980b9;
}

.cantidad-botones input.cantidad {
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 5px;
    font-size: 0.8em;
}

.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    background-color: #fff;
}

.card .stock {
    font-size: 1em;
    font-weight: bold;
}

.card .stock.low {
    color: red;
}

.card img {
    max-width: 100%;
    max-height: 268px;
    height: auto;
    border-bottom: 1px solid #ccc;
}

.card h3 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
}

.card .price {
    font-size: 1.5em;
    color: #e74c3c;
    font-weight: bold;
}

.card button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
}

.card button:hover {
    background-color: #2980b9;
}

.boton-carrito {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-carrito:hover {
    background-color: #218838;
}

.boton-carrito:active {
    background-color: #1e7e34;
}